*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    background-color: #ffffff;
    color: darkslategrey;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
body{
    font-size: 20px;
}
.row{
    max-width: 1140px; /*only thing that has absolute value */
    margin:0 auto 0 auto; /*top, left, bottom, right */
}
section{
    padding: 80px 0;
    -ms-flex-line-pack: center;
    align-content: center;
}
h1{
   font-size: 300%;
    color: white;
}
h2{
    font-size: 200%;
    text-align: center;
}
h2, h1, .hder-bg-area h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: uppercase;
}
.hder-bg-area h3{
    color: white;
}
h2:after{
    display: block;
    height: 2px;
    background-color: darkslategrey;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
.hidden{
    display: none;
}
/*------------Header----------------------------------------------*/
header {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.0)), to(rgba(0,0,0,0.7))), url(img/IMG_5189.JPG);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgba(0,0,0,0.7)), url(img/IMG_5189.JPG);/*Instead of 5714*/
    background-position: 60% 40%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.hder-bg-area {
    position: absolute;
    width: 1140px;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    text-align: left;        
}
.hder-image-icon {
    width: 80%;
    padding-top: 10px;
    float: right;
    display: block;
    border-radius: 0%;   
}
/*----------------------------------NavBar----------------------------------------------------------------------*/
.main-nav {
    margin-right: 0%;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 10px;
    float: right;
    
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
    float: left;
}
.main-nav li a:link, .main-nav li a:visited {
    text-transform: uppercase;
    font-size: 80%; /*80% of the 20px base*/
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    
}
.main-nav li a:hover, .main-nav li a:active{
    color: #2dca6f;
}
.navbar{
    position: fixed;
    width: 100%;
    right: 0%;
    padding-bottom: 10px;
    -webkit-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}
.navbar-scrolled, .navbar:hover{
    background-color: darkslategrey;
    z-index: 1;
    -webkit-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}
/*-------------------------Fancy Underline stuff--------------------------------*/

.underline {
       text-decoration: none; 
       position: relative; 
     }   
.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    /* adjust this to move up and down*/
    bottom: -4px;
    /* center - (optional) use with adjusting width */
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 50%;
	background: #27ae60;
	/* optional animation */
 -webkit-transition:.5s;
 transition:.5s;
    }
	/* Hover classes used with anmiation */
	.underline:hover:after {
	width: 80%;
	background: #2dca6f;
}

/*----------Buttons section------------------------------------------------------------------------------------*/
.btn-container{
    text-align: left; /*Aligns buttons*/
    margin-top: 10px;
}
.btn-container-center{
    text-align: center;
    margin-top: 10px;
}
.btn:link, .btn:visited {
    display: inline-block; /*Inline, but can have padding and no line break*/
    padding: 20px 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5%;
    color: white;
    border: 1px solid #27ae60;
    -webkit-transition: background 0.3s, border 0.3s, color 0.3s;
    transition: background 0.3s, border 0.3s, color 0.3s;
    
}
.btn-full:link, .btn-full:visited {
    background-color: #27ae60;
}
.btn-ghost:link, .btn-ghost:visited {
    color: #27ae60;
}
.btn-ghost:hover, .btn-ghost:active{
    color: #2dca6f;
    border: 1px solid #2dca6f;
}
.btn-full:hover, .btn-full:active{
    background-color: #2dca6f;
}
/*Icons----------------------------------------------------------------------------------------------------*/
.icon-big{
    font-size: 400%;
    display: block;
    margin-bottom: 10px;
}
.tiny-icon {
    height: 20px;
    padding-right: 10px;
    padding-top: 5px;
}
/*Bio and skills--------------------------------------------------------------------------------------------------------*/
#bio{
    line-height: 145%;
    opacity: 0;
}

.me-img {
    position:relative;
    width: 100%;
    float:left;
    
}

#skills-section {
    margin-left: 5%;
    opacity: 0; /*Initializes opacity to zero*/
}
.skill {
    text-align: center;
}
.skill-img {
    padding: 0 6px;
    padding-bottom: 16px;
    left: 50%;
    float: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.skill-img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
/*Projects---------------------------------------------------------------------------------------------------------*/
#projects{
    opacity: 0; /*Initial opacity*/
}
.grow{
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.grow:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);    
}
.project-img{
    padding: 10px 6px;
}
/*Work experience------------------------------------------------------------------------------------------------------------*/

h6 {
    padding-bottom: 10px;
    padding-top: 10px;
}

h5 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 100;
}
#work-experience {
    opacity: 0;
}

#work-experience li{
    font-size: 16px;
    line-height: 145%;
    list-style-type: circle;
    list-style-position: outside;
}
.work-box {
    padding: 10px;
    font-size:90%;
}

/*Courses--------------------------------------------------------------------------------------------------------------------------*/
#courses{
    opacity: 0;
}
.course-container{
    position: relative;
    text-align: center;
    color: antiquewhite;
}
.img1{
    position:absolute;
    top:5px;
    bottom:20px;
    left:2px;
    margin: 4px;
}
.course-img{
    list-style:none;
    width:80%;
    margin-left: 10%;
}
.course-img li{
    display: block;
    float:left;
    width: 33%;
}
.course-photo{
    width:100%;
    margin: 0;
    overflow: hidden;
    background-color: black; 
}
.course-photo img{
    opacity: 0.4;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: opacity 0.8s, -webkit-transform 0.5s;
    transition: opacity 0.8s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.8s;
    transition: transform 0.5s, opacity 0.8s, -webkit-transform 0.5s;
}
.course-photo img:hover, .course-photo img:active{
    opacity: 0.1;
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}
.course-detail{
    font-size: 75%;
    line-height: 140%;
    padding:15px;
    
}
.project-detail {
    font-size: 100%;
    line-height: 140%;
    text-align: center;
    padding-bottom: 10px;
}
.course-link {
    text-decoration: none;
    color: darkslategrey;
}
.course-link:active{
    text-decoration: underline;
}

/*Footer---------------------------------------------------------------------------------------------------------------------------*/
footer {
    background-color: lightgrey;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.0), rgba(255,255,255,1)), url(img/IMG_5675.JPG);
    margin-top: 50px;
    opacity: 0;
    background-position: center;
    background-size: 100% auto;
}
.footer-nav{
    list-style: none;
}
.footer-nav li{
    display: inline-block;
    padding: 3% 11.1%;
}
.footer-nav li:hover, .footer-nav li:active{
    color: yellow;
}
.contactmeh3 {
    padding: 20px 10px;
    color: darkslategrey;
    text-align:center;
    font-weight: 400;
}
/*Waypoint animations------------------------------------------------------------------------------------------*/

.js-scrolled-bio.animated{/*Requires that element has both classes*/
    opacity: 1;
}
.js-scrolled-skills.animated{
    opacity: 1;
}
.js-scrolled-projects.animated{
    opacity: 1;
}
.js-scrolled-work-experience.animated{
    opacity: 1;
}
.js-scrolled-courses.animated{
    opacity: 1;
}
.js-scrolled-footer.animated{
    opacity: 1;
}